<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="https://www.facebook.com/chaky.balanzino"><img src="../../../assets/facebook-redondo.png" alt="Facebook logo"></a></li>
        <li><a href="https://www.instagram.com/bbalanzino/"><img src="../../../assets/Instagram.png" alt="Instagram logo"></a></li>
        <li><a href="https://github.com/BBalanzino"><img src="../../../assets/GitHub-Mark.png" alt="Github logo"></a></li>
        <li><a href="https://twitter.com/chaaky_22"><img src="../../../assets/twittero.png" alt="Twitter logo"></a></li>
        <li><a href="https://www.linkedin.com/in/ana-belen-balanzino-316702247/"><img src="../../../assets/linkedin-redondo.png" alt="Linkedin logo"></a></li>
      </ul>
    </div>
  </nav>